.container {
  width: 100%;
  margin: 0 auto;  		
}

.bsection1 {
  background: #aa1b27;
}

.bsection2 {
  background: #d12263;
}

.bsection3 {
  background: #aa1b27;
}

.bsection4 {
  background: #e8b1bd;
}

@media (max-width: 640px) {
  .sections {
    margin-bottom: 10px;
  }
  
  .bsection1 {
    height: 100px;
  }
  
  .bsection2 {
    height: 75px;
    margin-bottom: 5px;
  }
  
  .bsection3 {
    height: 200px;
    margin-bottom: 5px;
  }
  
  .bsection4 {
    height: 75px;
    margin-bottom: 5px;
  }  
}

@media (min-width: 641px) and (max-width: 1023px) {
  .sections {
    margin-bottom: 20px;
  }

  .section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bsection1 {
    height: 200px;
  }

  .bsection2 {
    height: 75px;
    margin-bottom: 10px;
  }

  .bsection3 {
    height: 100px;
    margin-bottom: 10px;
  }

  .bsection4 {
    height: 100px;
    margin-bottom: 10px;
    width: 49.5%;
  }  
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .sections {
    margin-bottom: 28px;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bsection1 {
    height: 400px;
  }

  .bsection2 {
    height: 100px;
    width: 49.5%;
  }

  .bsection3 {
    height: 200px;
    width: 32.5%;
  }

  .bsection4 {
    height: 150px;
    width: 24.5%;
  }  
}
